@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200 antialiased;
  }
  
  html.dark body {
    @apply bg-slate-950 text-slate-100;
  }
}
